:root {
    --btn-color: #ededed;
    --btn-hover: #d8d2d2;
    --ebtn-color: #6bb6e5;
    --ebtn-hover: #4594c6;
    --obtn-color: #c1c1c1;
    --obtn-hover: #959595;

}

*{
    margin: 0px;
    padding: 0px;
    font-size: 32px;
    font-family: optima, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    border: 3px solid;
    width: 400px;
    margin: 40px;
    align-self: center;
    border-radius: 15px;
}

.screen {
    display: flex;
    flex-direction: column;
    border: 3px solid;
    width: auto;
    margin: 10px;
    padding: 20px;
    border-radius: 15px;
    text-align: right;
}

.display {
    min-height: 40px;
    font-size: 38px;
}

.previous {
    min-height: 22px;
    font-size: 16px;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 10px;
}

button {
    padding: 28px;
    border-radius: 15px;
    background-color: var(--btn-color);
}

button:hover {
    background-color: var(--btn-hover);
}

button:active {
    background-color: var(--btn-color);
}

.e-btn {
    background-color: var(--ebtn-color);
}

.e-btn:hover {
    background-color: var(--ebtn-hover);
}

.e-btn:active {
    background-color: var(--ebtn-color);
}

.o-btn {
    background-color: var(--obtn-color);
}

.o-btn:hover {
    background-color: var(--obtn-hover);
}

.o-btn:active {
    background-color: var(--obtn-color);
}

